.about {
    background-color: black;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    object-fit: fill;
    padding: 0;
    border-top: solid 0.25rem gold;
}

.about-container {
    max-width: 1140px;
    height: 50rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-content: center;
   
}

.about-card {
    width: 20rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    background: #1a1919;
    margin-top: 5rem;
}

.pic {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.info img {
    margin-top: 1rem;
    width: 10rem;
    height: 12rem;
}

.about-card h1 {
    margin-bottom: 2rem;
}

.about-card p {
    margin: 0.5rem 0;
}

.btn-cv {
    margin-top: 2rem;
}


.about-text-knowledge {
    width: 20rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    background: #1a1919;
    margin-top: 5rem;
}

.about-text-me {
    width: 20rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    background: #1a1919;
    margin-top: 5rem;
}

.about-text-knowledge p {
    margin-top: 3rem;
}

.about-text-me p {
    margin-top: 3rem;
}

@media screen and (max-width: 1024px) {
    .about-container {
        max-width: 90%;
        height: 90rem;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .about-card {
        height: 35rem;
        width: 22rem;
    }

    .about-text-knowledge {
        height: 35rem;
       width: 22rem;
    }

    .about-text-me {
        height: 18rem;
        width: 46rem;
        
    }
    
}

@media screen and (max-width: 840px) {
    .about-container {
        max-width: 100%;
        height: 120rem;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        align-content: center;
        justify-items: center;
        margin: 0;
    }

    .about-text-knowledge {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .about-text-me {
        height: 100%;
        width: 100%;
        margin: 0;
       
    }
    
    .about-card {
        width: 100%;
    }
}